body {
    overflow-x: hidden; /* Evita el scroll horizontal */
    background-color: black;
}
.logo {
    font-size: 25px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    margin-right: 0px; 
}

#menu {
    width: 100%;
    height: 350px;
    background-image: url(/Imágenes/imagen_fondo.png);
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen horizontalmente */
    background-size: 100% auto; /* Cubre todo el ancho y ajusta la altura automáticamente */
    font-size: 20px;
    padding-left: 2%;
    position: relative;
}
#menu input[type="button"] {
    background-color: #A0153E; /* Color rojo */
    color: white; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    right: 20px;
}

.input-container {
    background-color:#00224D;
    padding: 12px;
    position: absolute;
    bottom: 10px;
    left: 60%; /* Centrado horizontal */
    transform: translateX(-45%); /* Centrado horizontal */
    width: 40.21%;
    right: inherit;
}

.input-container input[type="text"],
.input-container input[type="button"] {
    color: rgb(0, 0, 0); /* Color del texto blanco */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    line-height: 1.5;
    align-self: flex-end;
    
}
.input-container input[type="button"] {
    font-size: 20px; /* Aumenta el tamaño del texto */
    margin-right: 2px;
    transition: transform 0.2s;
    margin-left: auto;
}
.input-container input[type="button"]:active {
    transform: translateY(2px);
}
.Titulo1 {
    color: white; /* Color del texto del eslogan */
    font-size: 80px; /* Tamaño del texto del eslogan */
    margin: 0; /* Eliminar margen predeterminado */
    margin-left: 20px; /* Alinear a la izquierda con un margen */
    margin-top: 70px;
}

#menu a {
    color: white;
    margin-top: 15px;
}

#barra {
    position: absolute;
    right: 0px;
    margin: auto;
    left: 515px;
    bottom: -10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.column {
    background-color: #A0153E;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 20px); /* Ancho ajustado */
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.column img {
    width: 150px;
    margin-bottom: 10px;
}

.column h2, .column h3, .column h1 {
    color: white;
}

.car-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
}

.car-info input[type="button"] {
    align-self: flex-end;
    margin-top: 10px;
    background-color: #FF204E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    border-radius: 5px;
}

.car-info input[type="button"]:hover {
    background-color: #FF0000;
    margin-top: 15px;
}

.car-properties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #00224D;
    padding: 12px 15px;
    border-radius: 0 0 5px 5px; /* Añadir borde redondeado solo en la parte inferior */
}

.car-properties p {
    margin: 2px 0;
}

.car-properties h2 {
    margin: 5px 0;
    color: red;
    font-weight: bold;
    justify-self: end;
    grid-column-start: 2;
    align-self: center;
}
footer {
    background-color: #000000; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    left: 0; /* Alinear a la izquierda */
    bottom: 0; /* Alinear en la parte inferior */
    width: 100%; /* Ancho completo */
    
}


/* Estilos para los enlaces dentro del footer */
footer a {
    color: white; /* Color del enlace */
    text-decoration: none; /* Quitar subrayado */
    padding: 0 10px; /* Espacio interno */
    transition: color 0.3s; /* Transición suave */
}

/* Cambio de color al pasar el cursor sobre los enlaces */
footer a:hover {
    color: #FFD700; /* Cambio de color al pasar el cursor */
}
.swal2-popup .swal2-title {
            color: #333; /* Cambia el color del texto del título */
            font-size: 24px; /* Ajusta el tamaño del texto del título */
        }

        .swal2-popup .swal2-content {
            color: #666; /* Cambia el color del texto del contenido */
            font-size: 16px; /* Ajusta el tamaño del texto del contenido */
        }

        .swal2-popup .swal2-confirm {
            background-color: #007bff; /* Cambia el color de fondo del botón de confirmación */
            color: #fff; /* Cambia el color del texto del botón de confirmación */
            border-radius: 5px; /* Añade bordes redondeados al botón */
            padding: 10px 20px; /* Ajusta el espaciado interno del botón */
            font-size: 18px; /* Ajusta el tamaño del texto del botón */
        }

        .swal2-popup .swal2-confirm:hover {
            background-color: #0056b3; /* Cambia el color de fondo del botón de confirmación al pasar el cursor */
        }
        @media screen and (max-width: 768px) {
            /* Navbar */
            #menu {
                height: auto;
                padding: 20px 10px;
            }
        
            .Titulo1 {
                font-size: 30px;
            }
        
            #barra {
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
            }
        
            .input-container {
                margin-bottom: 10px;
                width: 100%;
            }
        
            .input-container input[type="text"] {
                width: 100%;
                margin-bottom: 10px;
            }
        
            .input-container input[type="button"] {
                width: 100%;
            }
        
            /* Container */
            .container {
                padding: 20px;
            }
        
            /* Columnas */
            .column {
                flex: 1 1 100%;
                margin: 10px 0;
            }
        }
